
<footer class="usa-footer usa-footer-slim" role="contentinfo">
  <div class="usa-grid usa-footer-return-to-top">
   
  </div>
  <div class="usa-footer-primary-section">
    <!--<div class="usa-grid-full">
      <nav class="usa-footer-nav usa-width-two-thirds">
        <ul class="usa-unstyled-list">
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Primary link</a>
          </li>
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Primary link</a>
          </li>
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Primary link</a>
          </li>
          <li class="usa-width-one-fourth usa-footer-primary-content">
            <a class="usa-footer-primary-link" href="javascript:void(0);">Primary link</a>
          </li>
        </ul>
      </nav>
      <div class="usa-width-one-third">
        <div class="usa-footer-primary-content usa-footer-contact_info">
          <p>(800) CALL-GOVT</p>
        </div>
        <div class="usa-footer-primary-content usa-footer-contact_info">
          <a href="mailto:info@agency.gov">info@agency.gov</a>
        </div>
      </div>
    </div>-->
  </div>

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-footer-logo">
        <img class="usa-footer-slim-logo-img" src="/img/The-Arc-homepage-logo.png" alt="The Arc">
        <img class="usa-footer-slim-logo-img" src="/img/combo_logo.png" alt="ICI and UMass Boston">
        
        
      
      </div>
    </div>
  </div>
</footer>
    <script src="/js/uswds.min.js"></script>
  </body>
</html>