<div class="usa-grid boards">
            <div class="usa-width-two-thirds spacer">
                        <h1><a class="title" href="/index.html"><img src="/img/agencychange_subdued.svg" alt="Agency Change Toolkit"  class="img-responsive"> </a></h1>                  
                       
                          
            </div>
            <div class="usa-width-one-third spacer">
              <p style="color:#a9aeb1">Presented by</p>
              <img src="/img/thinkwork_no_tagline-500w_0.png" alt="Think Work" class="img-responsive">
            </div>
            
          </div>
          {% if page.title != null %}
<section class="usa-grid usa-section">
     <h1>{{ page.title }}</h1> 
</section>
{% endif %}