a.title {font-size: 1.2em; text-decoration: none; color:#5E9732;}
h1 {color: hsl(0, 0%, 30%);}

h2 {color: 	hsl(0, 0%, 30%); font-size: 2rem; padding-bottom: 0px; }

#bigger {font-size: 1.5em; margin:auto; padding-left:10px; padding-right:10px;
	-webkit-border-radius: 10px 10px 10px 10px;
border-radius: 10px 10px 10px 10px;
	border: 1px solid #000000;}

.usa-accordion-button {color:#0077AF; border: solid 1px #5E9732;}

.usa-section {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.img-responsive  {
	display: block;
	max-width: 100%;
	height: auto;
}

.boards { border-bottom: 2px solid #0077AF;}

@media only screen and (min-width: 768px) {
    /* tablets and desktop */
.spacer {padding-top: 2em;}
}

a.define {text-decoration-style: dotted; color: black;}

.usa-footer-secondary_section {background-color:#1074AC;}

.jc_tagline {color: #0077AF; margin-top:0px; padding-top:0px;}
